<div class="block">
    
    <div class="menu">
        <ul class="menu_list">
            <li *ngFor="let item of list; let i = index"><a class="list_item" (click)="getData(i)" [routerLink]="item.path">{{item.text}}</a></li>
        </ul>
    </div>

    <div  class="component">
        <div class="add">
            <button type="button" class="btn btn-primary">Add</button>
        </div>
        <table>
            <caption>Here is text</caption>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Icon</th>
                    <th>Title</th>
                    <th>Subtitle</th>
                    <th>Text</th>
                    <th>Button text</th>
                    <th>Path</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td>{{item?.image}}</td>
                    <td>{{item?.icon}}</td>
                    <td>{{item?.title}}</td>
                    <td>{{item?.subtitle}}</td>
                    <td>{{item?.text}}</td>
                    <td>{{item?.btn_text}}</td>
                    <td>{{item?.path}}</td>
                    <td>
                        <button type="button" class="btn btn-success">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" >Delete</button>
                    </td>
                </tr>
                <tr *ngFor="let item of mydata">
                    <td>{{item?.image}}</td>
                    <td>{{item?.icon}}</td>
                    <td>{{item?.title}}</td>
                    <td>{{item?.subtitle}}</td>
                    <td>{{item?.text}}</td>
                    <td>{{item?.btn_text}}</td>
                    <td>{{item?.path}}</td>
                    <td>
                        <button type="button" class="btn btn-success">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" >Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- <div>
        <router-outlet></router-outlet>
    </div> -->
    
</div>