<div class="block">
    <div class="menu">
        <ul class="menu_list">
            <li *ngFor="let item of list; let i = index"><a class="list_item" (click)="getData(i)" [routerLink]="item.path">{{item.text}}</a></li>
        </ul>
    </div>

    <div  class="component">
        <div class="add">
            <button type="button" class="btn btn-primary" (click)="openModal(template)" (click)="addData()">Add</button>
        </div>
        <table>
            <caption>Here is text</caption>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Icon</th>
                    <th>Title</th>
                    <th>Subtitle</th>
                    <th>Text</th>
                    <th>Button text</th>
                    <th>Path</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td>{{item?.image}}</td>
                    <td>{{item?.icon}}</td>
                    <td>{{item?.title}}</td>
                    <td>{{item?.subtitle}}</td>
                    <td>{{item?.text}}</td>
                    <td>{{item?.btn_text}}</td>
                    <td>{{item?.path}}</td>
                    <td>
                        <button type="button" class="btn btn-success" (click)="openModal(template)" (click)="editData(item.id)">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="deleteData(item.id)">Delete</button>
                    </td>
                </tr>

                <!-- <tr *ngFor="let item of mydata">
                    <td>{{item?.image}}</td>
                    <td>{{item?.icon}}</td>
                    <td>{{item?.title}}</td>
                    <td>{{item?.text}}</td>
                    <td>{{item?.subtitle}}</td>
                    <td>{{item?.btn_text}}</td>
                    <td>{{item?.path}}</td>
                    <td>
                        <button type="button" class="btn btn-success">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Add/Edit Component Information</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form formGroup="form" (ngSubmit)="save()">

                <label for="image">Image:</label>
                <div>
                    <input formControlName="image" type="text" id="image">
                </div>
                <!-- <label for="icon">Icon:</label>
                <div>
                    <input [formControlName]="'icon'" type="text" id="icon">
                </div>
                <label for="title">Title:</label>
                <div>
                    <input [formControlName]="'title'" type="text" id="title">
                </div>
                <label for="subtitle">Subtitle:</label>
                <div>
                    <input [formControlName]="'subtitle'" type="text" id="subtitle">
                </div>
                <label for="text">Text:</label>
                <div>
                    <input [formControlName]="'text'" type="text" id="text">
                </div>
                <label for="btn_text">Button Text:</label>
                <div>
                    <input [formControlName]="'btn_text'" type="text" id="btn_text">
                </div>
                <label for="path">Path:</label>
                <div>
                    <input [formControlName]="'path'" type="text" id="path">
                </div> -->

                <div>
                   <button (click)="sendChanges()" id="send" type="button">Send changes</button> 
                </div>
            </form>
        </div>
    </ng-template>

    <!-- <div>
        <router-outlet></router-outlet>
    </div> -->
</div>
